@charset "utf-8";
/* CSS Document */

body {font:normal 12px Arial, Helvetica, sans-serif; background: #fff; color:#333;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
a, input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:focus, textarea {outline: 0 none;}
a {text-decoration:none; color:#333;}
.fl { float: left; }
.fr { float: right; }
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .clearfix {
    display: block;
}
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
hr {
    border-color: #aaa;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    clear: both;
    height: 1px;
    line-height: 1em;
    margin: 10px 0 10px 0;
}
hr.dots {
    border-style: dotted;
}
.wrapper {
    width: 100%;
    padding: 20px 0px;
}
.inner_wrapper {
    width: 960px;
    margin: 0px auto;
    padding: 20px;
    background: #fff;
}   
.header {
    width: 100%;
}
.panel-heading {
        margin: auto;
        text-align: center;
        color: #1191BF;
        font-size: 20px;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

table
{
    width:100%;
    border-collapse:collapse;
}
table,th, td


td
{
padding:5px;
}


table, td, th
{
border:1px solid #DDDDDD;
}
th{
    height: 40px;
    background-color:#1191BF;
    color:white;
}
/* Thêm báo giá mới*/

    
.md-tab:first-child{background: #2196F3; } 
.md-tab:nth-child(2){background: #40BF80; } 
.md-tab:nth-child(3){background: #00BFFF; } 
.md-tab:nth-child(4){background: #4CAF50; } 
.md-tab:nth-child(5){background: #B47269; } 
.md-tab:nth-child(6){background: #FF9800; } 
.md-tab:nth-child(7){background: #ff6600; } 
.md-tab.md-active{
   background-color:aliceblue;
   }
.border_th{
        color: #FFF;
        text-align: center;
    }
.button_themdong{
    text-align:center; 
    cursor:pointer; 
    height:30px; 
    font-size:14px; 
    font-weight:bold;
    float: right;
    border-radius: 4px 4px 4px 4px;
}
.button_cm{
    text-align:center; 
    cursor:pointer; 
    font-size:12px; 
    font-weight:bold;
    float: right;
    border-radius: 4px 4px 4px 4px;
}
fieldset{
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
    margin: 10px 10px 10px 10px;
}
legend{
    width: auto;
    color: #2196F3;
}
.thembaogia{
    margin-top:20px;
}
.boder_themmoi{
    border:1px;
    border-style: solid;
    border-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
}